
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75rem;

}
.section{
position: relative;
float: right;
border-left: 1px solid black;
border-bottom: 1px solid black;
padding: 5px 10px 5px 10px;
color: white;
text-align: center;
font-size: 1.25rem;

}
#one{
    background-color: goldenrod;
}
#two{
    background-color: blueviolet;
}
#three{
    background-color: cadetblue;
}
p {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1rem;
  clear: both;
  padding: 10px;
}

.container{
	width: 100%;
	display:inline-block;
	padding:10px;
}

.styling{
	background-color: lightgrey;
	border: 1px solid black;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
	padding:10px;
  }
  .col-lg-4 {
    width: 33.33%;
  }

}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
	padding:10px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

}

/********** Small devices only **********/

@media (max-width: 767px) {
  .col-sm-12{
    float: left;
	padding:10px;
  }
  .col-sm-12 {
    width: 100%;
  }


}
